@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1F2937;
    transition: .3s;
    cursor: pointer;
}

p {
    font-family: "Roboto", sans-serif;
    color: #4B5563;
}

h1 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #1D4ED8;
}

h4 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background: #F3F4F6;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 40px;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header li {
    margin: 8px 16px;
    list-style-type: none;

}

button {
    padding: 8px 16px;
    background-color: #2563EB;
    color: white;
    font-size: 16px;
    border: 1px solid #1D4ED8;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.hero-class {
    gap: 32px;
    background-color: #F9FAFB;

}

.hero-area {
    padding: 6%;
    gap: 32px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}



.hero-area .left h1 {
    font-weight: 400;
    margin-bottom: 16px;
    color: black;
}

.hero-area .left h1 span {
    font-size: 96px;
    line-height: 96px;
    font-weight: bold;
    color: #1D4ED8;
}

.left p {
    font-size: 20px;
    margin-bottom: 32px;
}

.btns {
    margin-right: 16px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
}

.btn2 {
    background-color: #ffffff;
    border: 1px solid #2563EB;
    color: #2563EB;
}

.hero-area .right {
    padding: 30.5px 0;
}

.hero-area .right img {
    border-radius: 8px;
    width: 100%;
}

.about {
    padding: 3% 5.5% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.about-left {
    width: 50vw;
    padding-right: 32px;
}

.about-left h2 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
}

.about-left p {
    margin-top: 16px;
    margin-bottom: 28px;
}

.about-right {
    width: 50vw;
    position: relative;
}

.about-right img {
    width: 100%;
    border-radius: 8px;
}

.about-right .exp {
    padding: 20px;
    position: absolute;
    border-radius: 20px 20px 0 20px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: #2563EB;
}

.about-right .exp h2 {
    font: bold;
    font-size: 42px;
    color: white;
    text-align: center;
}

.about-right .exp span {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.services {
    padding: 10% 6% 7%;
    display: flex;
    flex-direction: column;
    background-color: #F3F4F6;
    text-align: center;
    position: relative;
}

.services .top-service {
    margin: 0 18% 72px;
}

.services .top-service p {
    margin-bottom: 28px;
    font-size: 18px;
}

.services .bottom-service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .bottom-service .service-box {
    background-color: white;
    padding: 24px;
    margin: 20px;
    width: 30%;
    border-radius: 8px;
}

.services .bottom-service p {
    font-size: 14px;
    margin-top: 8px;
}

.achievements {
    display: flex;
    margin: 0 auto;
    padding: 3.5% 7%;
    width: 70%;
    background-color: #2563EB;
    justify-content: space-evenly;
    border-radius: 144px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}

.achievements img {
    width: 60px;
    height: 60px;
}

.achievements h1 {
    color: white;
}

.achievements p {
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
}

.testimonial {
    display: flex;
    flex-direction: column;
    margin: 6%;
    justify-content: center;
    align-items: center;
}

.testimonial p {
    margin-top: 16px;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 32px;
}

.reviews .rev {
    padding: 24px;
    justify-content: space-between;
    text-align: center;
    background-color: #F3F4F6;
    border-radius: 8px;
}

.rev img {
    width: 96px;
    height: 96px;
    margin-bottom: 16px;
}

.rev p {
    font-size: 14px;
    margin-top: 0;
}

.rev h5 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-top: 16px;
}

.blog {
    padding: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;
}

.blog p {
    margin-top: 16px;
}

.blog .cards {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.cards img {
    width: 100%;
}

.cards .btn {
    margin-top: 16px;
}

.cards .small-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.contact {
    margin: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fullform {
    margin: 40px 12% 0;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.fullform input,
.fullform textarea {
    outline: none;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px 16px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

.fullform .names {
    display: flex;
    gap: 16px;
}

.fullform button {
    font-size: 18px;
}

footer {
    padding: 32px;
    background-color: #F3F4F6;

}

.footer {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;

}

.footer ul {
    list-style-type: none;
    margin-top: 16px;
}

.footer li {
    margin-top: 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.footer .fc {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-middle ul {
    display: flex;
}

.footer-middle li {
    padding: 0 8px;
    font-size: 20px;
}

.footer p {
    margin-top: 8px;
}

.footer .mail {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mail input {
    flex: 2;
    border: 1px solid #D1D5DB;
    outline: none;
    padding: 16px;
    border-radius: 6px 0px 0 6px;
}

.mail button {
    flex: 1;
    border-radius: 0 6px 6px 0;
}

.copyright {
    margin-top: 32px;
    color: #4B5563;
    text-align: center;
}